<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pilih Tingkat & Part</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
  
<body>
  <img src="{{ url_for('static', filename='images/rendang.png') }}" alt="Rendang" class="food-animation food-1">
  <img src="{{ url_for('static', filename='images/soto.png') }}" alt="Soto" class="food-animation food-2">
  <img src="{{ url_for('static', filename='images/rawon.png') }}" alt="Rawon" class="food-animation food-3">
  <img src="{{ url_for('static', filename='images/sate.png') }}" alt="Sate" class="food-animation food-4">
  <img src="{{ url_for('static', filename='images/gudeg.png') }}" alt="Gudeg" class="food-animation food-5">

  <div class="title-container menu-box">
    <h1>GAME TTS REGEX 🧩</h1>
  </div>


  <div class="main-menu menu-box">
    <form method="POST">
      <label for="difficulty">Pilih Tingkat Kesulitan:</label>
      <select name="difficulty" id="difficulty" required>
        <option value="mudah">Mudah 🟢</option>
        <option value="sedang">Sedang 🟡</option>
        <option value="sulit">Sulit 🔴</option>
      </select>

      <label for="part">Pilih Part (Masakan):</label>
      <select name="part" id="part" required>
        <option value="rendang">Rendang</option>
        <option value="soto">Soto</option>
        <option value="rawon">Rawon</option>
      </select>

      <button type="submit">Mulai 🚀</button>
    </form>
  </div>
  <div class ="info-container menu-box">
      <p>Game ini dibuat oleh C-TEAM</p>
      <p>NLP TSD 2025</p>
  </div>
</body>
</html>